body {
	background-image: url(../imagens/background.jpg);
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#imgHeader {
	width: 100%;
}

.container {
	position: relative;
	margin: 0 auto;
}

.page {
	min-height: 100%;
}

/* .centroPagina {
	min-height: 510px;
} */

.conteudo {
	margin-bottom: 1000px;
}

/* rodape */
.footers {
	background-image: url(../imagens/footers.png);
	background-size: 100% 100%;
	clear: both;
	margin-top: 10px;
	bottom: 0;
}

#logo-rodape {
	width: 150px;
	height: 100px;
	position: relative;
	top: 15px;
}

.social {
	float: right; top : 12px;
	right: 0;
	top: 12px;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a {
	height: 32px;
	width: 32px;
	display: block;
}

/* menu lateral */
.busca, .menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin-right: 10px;
	width: 230px;
}

.busca h2, .busca form, .menu-departamentos h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333;
	text-decoration: none;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:HOVER ul {
	display: block;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.menu-departamentos li li a:BEFORE {
	content: '\261E ';
	padding-right: 3px;
}

.menu-departamentos {
	clear: left;
	margin-top: 2px;
	padding-bottom: 10px;
}

.descricao {
	margin: 10px 0;
	font-weight: 100;
}

.preco {
	color: #204a87;
	font-weight: bold;
	padding-right: 10px;
}

.autor {
	font-weight: bold;
	color: gray;
}

.titulo {
	font-weight: bold;
	font-size: 23px;
	padding: 5px 0;
	margin-bottom: 5px;
	color: #3465a4;
}

#img-livro {
	width: 100px;
	margin: 2px;
	padding: 5px 1px;
	float: left;
}

.panel-body {
	margin: 5px;
}

.panel {
	margin: 15px;
	position: relative;
}

.menu-opcoes ul li{
	display: inline-block;
}

.menu-opcoes  a{
	    color: white !important;
}

.menu-opcoes ul{
	display: inline-block;
	
	position:absolute;
	font-size:1.5em;
	width:300px;
	left: 700px;
    top: 50px;

}